    <form action="/add" method="POST" id="add-form">
        <label for="name">Title</label>
        <input type="text" name="title">
        <br>
        <label for="artist">Artist</label>
        <input type="text" name="artist">
        <br>
        <label for="image">Image Link</label>
        <input type="text" name="image">
        <br>
        <label for="yt">Stream Link</label>
        <input type="text" name="stream">
        <br>
        <div class="button-container-form">
            <input type="button" value="Cancel">
            <input type="submit" value="Add">
        </div>
    </form>