<form  method="POST" id="edit-form">
    <h3>Edit Item</h3>
    <label for="name">Title</label>
    <input type="text" name="title">
    <br>
    <label for="artist">Artist</label>
    <input type="text" name="artist">
    <br>
    <label for="image">Image Link</label>
    <input type="text" name="image">
    <br>
    <label for="yt">Stream Link</label>
    <input type="text" name="stream">
    <br>
    <div class="button-container-form">
        <input type="button" id="edit-cancel" value="Exit">
        <input type="submit" id="edit-save" value="Save">
    </div>
</form>